* {
  padding: 0;
  margin: 0;
  color: aliceblue;
}

button {
  color: #222;
}

#app {
  background-color: #222;
  min-height: 100vh;
}

#layout {
  min-height: calc(100vh - 68px);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
